---
import { getLocalizedRoute } from "@/js/translationUtils";
import { getLocaleFromUrl } from "@/js/localeUtils";

// utils
const currLocale = getLocaleFromUrl(Astro.url);

// images - using horizontal logo which includes icon + text
const logoPath = "/images/brand/horizontal.png";
---

<a
 class="primary-focus text-foreground flex h-10 items-center"
 href={getLocalizedRoute(currLocale, "/")}
>
 <img
  src={logoPath}
  alt="secunit, llc logo"
  loading="eager"
  class="h-8 w-auto"
  aria-hidden="true"
 />
</a>
