---
import { Icon } from "astro-icon/components";

interface Props {
 variant: "tip" | "caution" | "danger" | "info";
}

const { variant } = Astro.props as Props;

// create a switch statement that switches on "variant" and returns the appropriate icon
const icon = (() => {
 switch (variant) {
  case "tip":
   return "tabler/bulb";
  case "caution":
   return "tabler/alert-triangle";
  case "danger":
   return "tabler/flame";
  case "info":
   return "tabler/info-circle";
 }
})();
---

<div
 class:list={[
  "admonition my-3 rounded-xl border px-4 py-3",

  {
   "border-green-500/40 text-green-600 bg-green-500/10 admonition-success dark:text-green-400": variant === "tip",
  },
  {
   "border-amber-500/40 text-amber-600 bg-amber-500/10 admonition-warning dark:text-amber-400": variant === "caution",
  },
  {
   "border-red-500/40 text-red-600 bg-red-500/10 admonition-error dark:text-red-400": variant === "danger",
  },
  {
   "border-primary/40 text-primary bg-primary/10 admonition-info dark:text-darkmode-primary": variant === "info",
  },
 ]}
>
 <div class="not-content flex items-center gap-2 pb-2">
  <Icon name={icon} class="h-7 w-7" />
  <p class="admonition-variant text-xs font-semibold">{variant.toUpperCase()}</p>
 </div>
 <slot />
</div>

<style is:global>
 @reference "../../styles/global.css";
 .admonition > :first-child {
  @apply mt-0;
 }
 .admonition > :nth-child(2) {
  @apply mt-0;
 }
 .admonition > :last-child {
  @apply mb-0;
 }
 .admonition-success code {
  @apply bg-green-500/20 border-none px-0.5;
 }
 .admonition-info code {
  @apply bg-primary/20 border-none px-0.5;
 }
 .admonition-warning code {
  @apply bg-amber-500/20 border-none px-0.5;
 }
 .admonition-error code {
  @apply bg-red-500/20 border-none px-0.5;
 }
</style>
